In [1]:
#1. Use .get() to retrieve a key that exists in the dictionary. Provide a default value in case it doesn't.

dic = {
    "a" : 45,
    "b" : 35,
    "c" : 43,
    "d" : 24

}
dic.get("c")

43

In [2]:
#2.Create a dictionary with student names as keys and grades as values. Use .get() to access the grade of a student who is not in the dictionary.

dic = {
    "a" : 45,
    "b" : 35,
    "c" : 43,
    "d" : 24,
    " " : 33

}
dic.get(" ")

33

In [3]:
#3.Create a dictionary of countries and capitals. Use .items() to convert it into a list of tuples.

countries_capitals = {
    'India': 'New Delhi',
    'USA': 'Washington, D.C.',
    'UK': 'London',
    'France': 'Paris',
    'Japan': 'Tokyo',
    'Germany': 'Berlin'
}
tuples = countries_capitals.items()
print(tuples)
type(tuples)

dict_items([('India', 'New Delhi'), ('USA', 'Washington, D.C.'), ('UK', 'London'), ('France', 'Paris'), ('Japan', 'Tokyo'), ('Germany', 'Berlin')])

dict_items

In [4]:
#4.Create a dictionary of fruit names and prices. Display only the keys using .keys().

fruits_name ={
    "apples" : 23,
    "guva" : 34,
    "mango" : 45,
    "grapes" : 35
}
fruits_name.keys()

dict_keys(['apples', 'guva', 'mango', 'grapes'])

In [5]:
#Extract and print all the keys from a dictionary of departments and employee counts.

departments = {
    "mech" : 100,
    "eee" : 233,
    "ece" : 349,
    "cse" :567,
    "civil" : 123
}
departments.keys()

dict_keys(['mech', 'eee', 'ece', 'cse', 'civil'])

In [6]:
#Create a dictionary of products and their prices. Use .values() to get all the prices.

departments = {
    'Engineering': 25,
    'HR': 8,
    'Marketing': 12,
    'Finance': 10,
    'Sales': 15,
    'IT': 20
}
departments.values()

dict_values([25, 8, 12, 10, 15, 20])

In [7]:
#Display only the values from a dictionary of languages and their popularity index.

languages = {
    'Python': 1,
    'JavaScript': 2,
    'Java': 3,
    'C++': 4,
}
languages.values()

dict_values([1, 2, 3, 4])

In [8]:
#Remove a key from a dictionary using .pop() and print the removed value.

products = {
    'laptop': 85000,
    'mouse': 1500,
    'keyboard': 3000,
    'monitor': 25000
}
products.pop('laptop')

85000

In [9]:
#Try using .pop() on a key that is not present and provide a default value.

stock = {
    'pen': 100,
    'notebook': 50,
    'pencil': 200
}
removed_item = stock.pop("scale", 3)
print(f"Removed item (or default if not found): {removed_item}")
print(f"Updated stock: {stock}")

Removed item (or default if not found): 3
Updated stock: {'pen': 100, 'notebook': 50, 'pencil': 200}

In [10]:
# Create a dictionary with at least three key-value pairs. Then remove all items using .clear().
tech_stack = {
    'Python': 'Core',
    'AWS': 'Cloud',
    'Docker': 'Container',
    'Git': 'Version Control'
}
tech_stack.clear()
print(tech_stack)

{}

In [11]:
#Use .clear() on an already empty dictionary.
name = {}
name.clear()
print(name.clear())

None

In [12]:
#Create a dictionary and use .popitem() to remove the last inserted key-value pair.
courses = {
    'Python': 'Basics',
    'AWS': 'Cloud',
    'Docker': 'Containers'
}
courses.popitem()

('Docker', 'Containers')

In [13]:
#Add multiple items to a dictionary and use .popitem() twice. Observe the removed items.
tools = {'git': 'vcs'}
new_tools = {'docker': 'container', 'k8s': 'orchestration', 'jenkins': 'ci-cd'}
tools.popitem(),new_tools.popitem()

(('git', 'vcs'), ('jenkins', 'ci-cd'))

In [14]:
#Merge two dictionaries using .update().
cloud_skills = {'AWS': 'EC2', 'Docker': 'Containers'}
devops_tools = {'Kubernetes': 'Orchestration', 'Jenkins': 'CI/CD', 'Terraform': 'IaC'}
cloud_skills.update(devops_tools)
print(cloud_skills)

{'AWS': 'EC2', 'Docker': 'Containers', 'Kubernetes': 'Orchestration', 'Jenkins': 'CI/CD', 'Terraform': 'IaC'}

In [15]:
#Use .update() to change the value of an existing key in the dictionary.
skills = {'Python': 'Beginner', 'AWS': 'Intermediate'}
updates = {'Python': 'Advanced', 'Docker': 'Beginner'}
skills.update(updates)
print("updates_skills",skills)

updates_skills {'Python': 'Advanced', 'AWS': 'Intermediate', 'Docker': 'Beginner'}

In [16]:
#Create a dictionary and make a copy of it using .copy(). Modify the original and print both.
network_config = {
    'host': 'localhost',
    'port': 8080,
    'debug': True
}
network_config.copy()

{'host': 'localhost', 'port': 8080, 'debug': True}

In [17]:
#Check if changing the original dictionary after using .copy() affects the copied one.

error={'host': 'localhost', 'port': 8080, 'debug': True}
error.copy()
print(error)

{'host': 'localhost', 'port': 8080, 'debug': True}

In [ ]:
#Check if a key exists in a dictionary using the in keyword.
stock = {
    'pen': 100,
    'notebook': 50,
    'pencil': 200
}
print('pen' in stock)  
print('scale' in stock)

In [18]:
departments = {
    'Engineering': 25,
    'HR': 8,
    'Marketing': 12,
    'Finance': 10,
    'Sales': 15,
    'IT': 20
}
len(departments)

6

In [19]:
#Use dict.fromkeys() to create a dictionary with three keys and the same default value.
keys = ['a', 'b', 'c']
my_dict = dict.fromkeys(keys, 0)
print(my_dict)

{'a': 0, 'b': 0, 'c': 0}

In [21]:
#Create a dictionary using dict() with a list of tuples.
dict([('India', 'New Delhi'), ('USA', 'Washington, D.C.'), ('UK', 'London'), ('France', 'Paris'),])

{'India': 'New Delhi',
 'USA': 'Washington, D.C.',
 'UK': 'London',
 'France': 'Paris'}

In [34]:
#Create a nested dictionary with student details and access the inner dictionary.
inventory = {
    'pen': 100,
    'notebook': 50,
    'pencil': 200 ,
    'scale': 50,
    'eraser': 40}
}

SyntaxError: unmatched '}' (1147771112.py, line 8)

In [33]:
inventory

{'pen': 100, 'notebook': 50, 'pencil': 200, 'scale': {50: 1, 'eraser': 40}}

In [30]:
#Create a nested dictionary with student details and access the inner dictionary.
inventory = {
    'std_name':'darbar','no':12,'marks':{'science':30,'maths':23}
}

In [1]:
#Use .get() to safely access a key from a nested dictionary.
item = {
    'name' :'rudra','dept' :'mech','sub':{'sem1':'tom' , 'sem2':'fm&hm'}
    }
item.get('sub')

{'sem1': 'tom', 'sem2': 'fm&hm'}

In [4]:
#Create a dictionary and use .get() with .update() together to modify a key safely.
error={'host': 'localhost', 'port': 8080, 'debug': True}
error.update({'port':error.get('port',0)+1})
print(error)

{'host': 'localhost', 'port': 8081, 'debug': True}

In [13]:
#Use .copy() and .clear() on a dictionary in sequence and observe both.
courses = {
    'Python': 'Basics',
    'AWS': 'Cloud',
    'Docker': 'Containers'
}
courses1=courses.copy()
print(courses1)
courses.clear()
print(courses)
print(courses1)

{'Python': 'Basics', 'AWS': 'Cloud', 'Docker': 'Containers'}
{}
{'Python': 'Basics', 'AWS': 'Cloud', 'Docker': 'Containers'}

In [14]:
#Extract all keys from student = {'name': 'John', 'age': 21}
student = {'name': 'John', 'age': 21}
student.keys()

dict_keys(['name', 'age'])

In [15]:
#Get all values from employee = {'id': 101, 'name': 'Alice', 'salary': 50000}.
employee = {'id': 101, 'name': 'Alice', 'salary': 50000}
employee.values()

dict_values([101, 'Alice', 50000])

In [16]:
#Get all key-value pairs from the above dictionary.
departments = {
    "mech" : 100,
    "eee" : 233,
    "ece" : 349,
    "cse" :567,
    "civil" : 123
}
print(departments)

{'mech': 100, 'eee': 233, 'ece': 349, 'cse': 567, 'civil': 123}

In [18]:
#Safely get the value for the key 'grade' in marks = {'math': 90, 'science': 85}.
marks = {'math': 90, 'science': 85}
print(marks.get('grade'))

None

In [24]:
#Update the value of 'salary' to 60000 in employee = {'name': 'Alice', 'salary': 50000}.
employee_salaries = {'name': 'Alice', 'salary': 50000}
employee_salaries.update({'salary':60000})

In [29]:
#Remove the key 'age' from person = {'name': 'Ravi', 'age': 30, 'city': 'Delhi'} using pop().
person = {'name': 'Ravi', 'age': 30, 'city': 'Delhi'}
person.pop('age')
print(person)

{'name': 'Ravi', 'city': 'Delhi'}

In [34]:
#Remove the last inserted item from data = {'a': 1, 'b': 2, 'c': 3} using popitem().
data = {'a': 1, 'b': 2, 'c': 3}
data.popitem()

('c', 3)

In [36]:
#Clear all contents from info = {'x': 100, 'y': 200}.
info = {'x': 100, 'y': 200}
info.clear()
print(info)

{}

In [40]:
#Create a copy of config = {'theme': 'dark', 'lang': 'EN'}.
config = {'theme': 'dark', 'lang': 'EN'}
info=config.copy()
print(info)

{'theme': 'dark', 'lang': 'EN'}

In [42]:
#Set default value 'Not Found' for key 'country' in profile = {'name': 'Sam'}.
profile = {'name': 'Sam'}
profile.setdefault('country','not found')

'not found'

In [48]:
#Create a dictionary using fromkeys() with keys ['a', 'b', 'c'] and default value 0.
keys = ['a', 'b', 'c']
dict = dict.fromkeys(keys,0)
print(dict)

{'a': 0, 'b': 0, 'c': 0}